# Ignore Maven build directories except the final jar
target/*
!target/calculator-web-1.0.0.jar


# Logs
*.log
*.out
*.err

# OS-specific files
.DS_Store
Thumbs.db

# IDE files
.idea/
*.iml
out/
.project
.classpath
.settings/
bin/
.vscode/

# Environment/secrets
.env
*.secret
*.credentials
*.key
*.pem

# Swap/temp files
*.swp
*.swo
*.tmp

# Docker temporary files
*.pid
*.tar
